## 1. Loading the required libraries

In [59]:
import numpy as np 
import pandas as pd  
import matplotlib.pyplot as plt 
import seaborn as sns 
from sklearn.datasets import load_iris
import pickle as pkl

## 2. Loading data

In [60]:
dataset = load_iris()
X = dataset.data
y = dataset.target

## 3. Creating dataframe from datasets

In [61]:
df = pd.DataFrame(X, columns=dataset.feature_names)
df['species'] = pd.DataFrame(y)
df.head(10)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0

## 4. Exploring data

In [62]:
df.shape

(150, 5)

In [63]:
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   species            150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

In [65]:
df.nunique()

sepal length (cm)    35
sepal width (cm)     23
petal length (cm)    43
petal width (cm)     22
species               3
dtype: int64

In [66]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
species              0
dtype: int64

As there is no missing value, we need not to make any change in our dataset.

In [67]:
from sklearn.model_selection import train_test_split
X_test, X_train, y_test, y_train = train_test_split(X, y, test_size=0.20, random_state=42)

In [68]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import GridSearchCV

In [69]:
def print_confusion_matrix(actual_y, predicted_y, string):
    cm = confusion_matrix(actual_y, predicted_y)
    plt.figure(figsize=(6,6))
    plt.title('Confusion matrix on '+ string + ' data')
    sns.heatmap(cm, annot=True, fmt='d', cmap=plt.cm.Greens, cbar=False)
    plt.xlabel('Predicted Label')
    plt.ylabel('Actual Label')
    plt.show()

In [70]:
accuracy_train = []
accuracy_test = []

In [71]:
model = LogisticRegression()
clf = model.fit(X_train, y_train)
pkl.dump(clf, open('model.pkl', 'wb'))